.table{
    background: #5772b9;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.block{
    background: #5772b9;
    height: 400px;
    width: 45%;
    justify-items: center;
    display: flex;
    flex-direction: column;
}
.miniblock{
    background: #ffffff;
    height: 100px;
    width: 90%;
    margin: 15px;
    border-radius: 5px;
    display: flex;
}
.text{
    width: 75%;
    height: border-box;
    display: flex;
    flex-direction: column;
}
.header{
    color: #cc7027;
    box-sizing: border-box;
    height: 25%;
    padding-top: 15px;
    margin-left: 15px;
}
.txt{
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "Corbel Light", sans-serif;
    height: 80%;
}
.image{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    display: block;
    font-size: 35px;
    color: rgba(19, 19, 13, 0.75);
}
.fa-brands{
    display: block;
    font-size: 40px;
    color: rgba(19, 19, 13, 0.75);
}