h3 {
    font-family: "Lucida Console", "Courier New", monospace;
    height: 20px;
}
h4 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.conteiner {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 7%;
    flex-wrap: wrap;
}

.content {
    position: relative;
    width: 190px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn{
    background-color: black;
    border-radius: 4em;
    font-size: 14px;
    color: white;
    padding: 0.8em 1.8em;
    user-select:none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-left: 20px;
    box-sizing: border-box;
    height: 40px;
}

.btn:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}

.btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.btn:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.btn:active {
    top: 1px;
}

.btnDiv {
    height: 40%;
    display: flex;
    align-content: end;
}

