h3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

h4 {
    font-family: "Lucida Console", "Courier New", monospace;
}

li {
    font-family: "Lucida Console", "Courier New", monospace;
}

.back {
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 12px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.back:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}

.back:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.back:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.back:active {
    top: 1px;
}


.btnPostUser {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #ea9292;
    text-align:center;
    transition: all 0.2s;
}


