.body{
    margin: 0;
}
.main{
    height: 600px;
    background: rgba(227, 195, 195, 0.53);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    height: 400px;
    width: 300px;
    background: white;
    border: solid 1px;
    box-sizing: border-box;
    position: relative;
}

.round{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: white;
    border: solid 1px black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: calc(300px / 2 - 45px);
    top: -45px;
    font-size: 30px;
}

.text1{
    text-align: center;
    padding-top: 80px;
    font-size: 23px;
    font-family: Cambria, sans-serif;
}
.text2{
    height: 150px;
    width: 90%;
    font-size: 17px;
    font-family: Cambria, sans-serif;
    line-height: 27px;
    color: #6b6a6a;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 6%;
}
.table1{
    height: 50px;
    width: 200px;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.locatetable{
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}