h1{
    background: #ffe000;
    color: #163da4;
    width: 500px;
    height: 50px;
    padding: 15px;
}
h2{
    background: #ffff00;
    color: #1e1e09;
    width: 400px;
    height: 30px;
    padding: 15px;
}
p {
    background: rgba(255, 255, 0, 0.44);
    color: #13130d;
    width: 900px;
    padding: 15px;
}
ul{
    background: rgba(255, 224, 0, 0.28);
    color: #1e1e09;
    width: 1100px;
    padding: 15px;
    padding-left: 50px;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}